@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');


*{
   margin: 0;
   padding: 0;
}

.comeExplore{
   font-family: 'Geo', sans-serif;
   word-spacing: 4px;
   letter-spacing: 1vw;
}

.card{
   box-shadow: 0 0 15px #d13838
}