
.hiddenbox{
    display: none;
    width: 100%;
    font-weight: 500;
}

.openbox{
    display: flex;
    justify-content: center;
    font-weight: 600;
    width: 100%; 
}

@media screen and (min-width: 700px) {
    .hiddenbox{
        display: block;
    }
  }