.header{
    background: #650808;
}

.homelogo img{
    width: 35%;
}

.homelogo{
    margin: 1% 0 1% 5%;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    margin-right: 2%;
}